/* variables */
:root{
    --transition-enter: .9s ease;
    --transition-exit: .8s ease;
    /* colors */
    --color1: #89375F;
    --color2: #CE5959;
    --color3: #BACDDB;
    --color4: #F3E8FF;
    --color5: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,55,95,1) 0%, rgba(206,89,89,1) 100%);
    --hamburger-size: 50px;
    --hamburger-bar-size: 3px;
    --hamburger-color: grey;
    --hamburger-bar-color-clicked: white;
    --hamburger-bar-color-unclicked: black;
    --fast-slow-transition: cubic-bezier(0,.13,0,1.01);

}
/* presets */
html, body{
    background-color: black;
    margin: 0;
    color: white;
    position:relative;
	overflow-x:hidden;
    font-family: 'Garamond', 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif
}
li, a{
    list-style: none;
    text-decoration: none;
}
.show{
visibility: hidden;
}
.show.active{
    visibility: visible;
}
.fade{
    opacity: 0;
}
.fade.active
{
    opacity: 1;
}
.moveUp{
    transform: translateY(100vh);
}
.moveUp.active{
    transform: translateY(0);
}
.rotateOut{
    rotate: -15deg;
}
.rotateOut.active{
rotate: 0deg;
}
.nudge.right{
    transform: translate(-30px);
}
/* .nudge.left{
    transform: translate(10px);
} */
.nudge.active{
    transform: translateX(0);
}
.curtain.right{
    transform: translateX(-100vw);
}
.curtain.left{
    transform: translateX(100vw);
}
.curtain.lift{
    transform: translateY(100vh);
}
.curtain.drop{
    transform: translateY(-100vh);
}
.curtain.active{
    transform: translate(0,0);
}
.reveal{
    width: 0%;
    
}
.reveal.right{
    transform: translateX(100%);
}
.reveal.active{
    width: 100%;
    transform: translateX(0);
}