@media screen and (min-width: 814px) and (max-width: 1024px) {
    .nav-link a span{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .nav-link a span{
        font-size: 3rem;
    }
}
@media screen and (max-width: 1023px) {
    div#hamburger{
        top:0;
    }
}
@media screen and (max-width: 813px) {
    .nav-link a span{
        font-size: 1.5rem;
    }
    #featured-image-overflow.active{
        display: none;
    }
    #featured-image-overflow{
        display: none;
    }
    .call-to-action-container{
        display: none;
    }
    div.nav-container{
        grid-column: 1/4; /*for overflow*/
  grid-row: 1/3;
    }
    nav#main-nav ul {
        align-items: center;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    img.mobile-logo{
        display: block;
    }
    div.call-to-action-mobile{

        display: flex;
        flex-direction: row;
        position: relative;
        height: 20%;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    div.call-to-action.message,
    div.call-to-action.phone{
        position: relative;
        display: block;
        transform: translateY(100%);
       
        height: 100px;
        width: 100px;
    }
    div.call-to-action.message.active,
    div.call-to-action.phone.active{
        display: block;
        transform: translateY(0);
        height: 50px;
        width: 50px;
       
    }
    div.call-to-action i{
        font-size: 1.5rem;
    }
    div.call-to-action i:hover{
        font-size: 2rem;
    }
   
}
/* header grid */
.header-grid {
  position: absolute;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 70% 30%;
}
/* nav menu */
.nav-container {
  grid-column: 3/4; /*for overflow*/
  grid-row: 1/3;
  overflow: hidden;
  z-index: 999;
}
/* nav animation */
#main-nav {
  transform: translateY(100vh);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color5);
  color: var(--color4);
  transition: var(--transition-exit);
  transition-delay: 1.05s;
  z-index: 2;
    animation: hideNav 1s ease 1.03s 1 normal forwards;
}

#main-nav.active {
  transform: translateY(0);
  transition: var(--transition-enter);
  animation: showNav 1s ease 1.03s 1 normal forwards;
  
}
/* mobile logo */
.mobile-logo{
    width: 50%;
    display: none;
}
/* nav list */
#main-nav ul {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0;
}
/* nav links */
#main-nav.active .nav-link {
  transform: translate(0, 0);
  opacity: 1;
  transition: 1s ease;
}
.rotateIn > *{
  opacity: 0;
  transform: translate(0, 100px) rotate(10deg);
  transition: 1s ease;
}
.rotateIn.active > *{
  opacity: 1;
  transform: translate(0, 0) rotate(0);
  transition: 1s ease;
}
.nav-link {
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease-in;
}
/* nav link underline */
.nav-link a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--color4);
  transition: width 0.3s;
}
.nav-link a:hover::after {
  width: 100%;
}

/*hamburger button*/
#hamburger {
  cursor: pointer;
  position: absolute;
  top: 50vh;
  right: 0;
  z-index: 99999;
  padding: 20px;
  background-color: var(--color4);
}
.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--color1);
  transition: 0.5s ease-in-out;
}

#hamburger.active .hamburger-bar:nth-child(2) {
  opacity: 0;
}

#hamburger.active .hamburger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#hamburger.active .hamburger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/* nav featured image */
#featured-image-overflow {
  display: grid;
  width: 0;
  background-color: black;
  grid-row: 1/2;
  grid-column: 1/3;
  transition: var(--transition-exit);
  transition-delay: 1.13s;
  overflow: hidden;
  z-index: 99999;
}
#featured-image-overflow.active {
  width: 100%;
  transition: 1s ease;
}
#featured-image-container {
  display: grid;
  width: 50vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  cursor: pointer;
}
#featured-image {
  grid-column: 1/3;
  grid-row: 1/3;
  opacity: 0.5;
  background-image: url("./images/pexels-scott-webb-1022936.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 110%;
  transition: 0.5s ease;
}
#featured-image.shrink {
  width: 100%;
  transition: 0.5s ease;
}

#featured-image-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--color4);
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 1;
  font-size: 2.2vw;
  gap: 3vh;
}
#featured-image-title h3,
#featured-image-title h4 {
  margin: 0;
  margin-right: 50px;
  width: 100%;
}
#featured-image-title h4 {
  font-size: 1.2vw;
  text-align: end;
  margin-bottom: 20px;
}
#featured-image-title h3 {
  text-align: end;
}
/* featured image background */
#featured-image-background {
  background-color: black;
  grid-column: 1/3;
  grid-row: 1/3;
  transition: 0.5s ease;
}
#featured-image-background.hover {
  background-color: var(--color1);
  transition: 0.5s ease;
}

/* call to action phone, message */
.call-to-action-container {
  position: relative;
  z-index: 9999;
  overflow: hidden;
}
.call-to-action-container.phone {
  grid-column: 2/3;
  grid-row: 2/3;
}
.call-to-action-container.message {
  grid-column: 1/2;
  grid-row: 2/3;
}
.call-to-action {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color1);
  height: 100%;
  width: 100%;

  transition: var(--transition-exit);
  transition-delay: 1.12s;
}
.call-to-action:hover{
    cursor: pointer;

}
.call-to-action i {
    display: flex;
    align-items: center;
    justify-content: center;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: 0.5s ease;
}
.call-to-action i:hover{
    font-size: 3.5rem;
    transition: 0.5s ease;
}
.call-to-action.phone {
  background-color: var(--color4);
  transform: translateY(100%);
}
.call-to-action.message {
  background-color: var(--color3);
  transform: translateX(-100%);
}
.call-to-action.phone.active,
.call-to-action.message.active {
  transition: var(--transition-enter);
  transform: translate(0, 0);
}
.call-to-action.phone.active h3 {
  position: relative;
  opacity: 1;
  transition: var(--transition-enter);
  margin: 0;
  text-align: center;
  top: 50px;
}
.call-to-action-mobile{
    display: none;
}
/* nav logo */
#nav-logo {
    width: 95%;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  background-size: cover;
}
body.stopscroll{
  height: 100vh;
  overflow: hidden;
}
@keyframes hideNav {
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes showNav{
    0%{
        visibility: visible;
    }
    100%{
        visibility: visible;
       
    }
}