.hamburger{
    display: flex;
    flex-direction:  column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--hamburger-color);
    width: var(--hamburger-size);
    height: var(--hamburger-size);
}
.hamburger .bar{
    display: block;
    background-color: var(--hamburger-bar-color-unclicked);
    width: 80%;
    height: var( --hamburger-bar-size);
}
.nav-menu{
    width: 500px;
    height: 500px;
}